body {
    padding: 20px;
    margin: 2px;
    font-family: sans-serif
}
header {
    text-align: center;
}
a, a:active, a:focus {
    outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.layout {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}
.dataframe {
    float: left;
    width: 100%;
    padding: 1px;
}
.dataframe#list{
    width: 80%;
}
.dataframe#info{
}
h2 {
    padding-left: 10px;
}

.patientList {
    list-style-type: none;
    width: 100%;
}
.entry {
    position: relative;
    left: -40px;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 5px;
    margin-bottom: -1px;
    padding: 8px;
    background-color: white;
    border-left-width: 8px;
    border-left-color: dodgerblue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}
.entry:hover {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
}
.row-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 12px;
    padding-right: 1rem;
}
.textfield {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}
.buttonpane {
    padding: 12px;
    padding-bottom: 1rem;
}
.btn {
    color: white;
    border: 1px solid grey;
    padding: 1rem;
    background-color: DodgerBlue;
    margin-right: 4px;
}
.btn:hover {
    background-color: darkcyan;
}

.controls {
    margin-left: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchpane {
    display: flex;
    flex-wrap: wrap;
    margin-right: 12px;
    padding-right: 1rem;
}
.textfield#search {
    flex: 1 1 auto;
    width: 1%;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.textfield#find {
    display: flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.navpane {
    display: block;
}
.navpane ul {
    display: flex;
    padding-left: 0;
}
.navpane li {
    display: inline;
    padding: 0;
    min-width: 2.5rem;
    text-align: center;
}
.navpane li a {
    position: relative;
    text-decoration: none;
    padding: 12px;
    display: block;
    margin-left: -1px;
    border: 1px solid grey;
    background-color: #FFF;
}
.nav-disabled a {
    color: grey;
}
.nav a {
    color: blue;
}
.nav :hover {
    background-color: lightgrey;
}

#newpatient {
    padding: 1rem;
    margin-top: 0.5rem;
}
#del {
    background-color: Tomato;
}
#del:hover {
    background-color: darkred;
}
@media screen and (max-width:1000px) {
    .layout {
        display: flex;
        flex-direction: column;
    }
}
